services:
  web:
    build: ./web
    ports:
      -  "8081:80"
    depends_on:
      - api
    networks:
      - app-network

  api:
    build: ./api
    ports:
      - "5000:5000"
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: demo
      MYSQL_USER: user
      MYSQL_PASSWORD: pass

    ports:
      - "3306:3306"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
